.logout {
    background: #181818;
    position: absolute;
    top: 6.2rem;
    right: 0rem;
    padding: 0 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.logout__link {
    color: #909096;
    font-size: 1.5rem;
    text-decoration: none;
}

.logout__link:hover {
    color: #fff;
}
